$primary_1:#85929E;
$primary_2:#F2F3F4 ;
$primary_3:#196F3D ;
$myFont: Helvetica, sans-serif;
$myFontSize:14px;


#ChartDiv{
  background-color: $primary_2;
}
#TableDiv{
  background-color: $primary_1;
}
#MainDiv{
  background-color:$primary_3;
}
