<h1>Products report</h1>
<div id="MainDiv">
 <form>
  <div class="form-group">
    <label for="OptionSelect">Please select an option:</label>
    <select class="form-control" id="OptionSelect" #optName name="Option" [(ngModel)]="selectedOption">
      <option *ngFor="let option of options" [value]="option.id" data-name="option.data">{{option.data}}</option>
    </select>
  </div>
 </form>

 <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
  You did not select an option! Please select one.
 </div>
  <br><br>
 <button mat-raised-button-color="primary" (click)="submitRequest()">Generate</button>
 <button mat-button-color="accent" (click)="downloadRequest()">Download PDF</button>
</div>

<div id="ChartDiv">
  <canvas id="canvas"></canvas>
</div>

<div *ngIf="chart" class="reportChart">
  <canvas id="canvas">{{chart}}</canvas>
</div>

<div id="TableDiv">
  <div class="table">
    <table class="table" id="jsPDFTable">
      <div *ngFor="let item of TableData; let i =index">
        <table class="container table-latitude" id="testing{{i}}">
          <caption><strong>{{item.Name}}</strong>(Amount: {{item.amount}})</caption>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity on Hand</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of item.Products">
              <td>{{item.ProductName}}</td>
              <td>{{item.TotalUnits}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="TableData" id="controlBreak">
        <div *ngIf="selectedOption && selectedOption ==1">Total units in stock for Beverages: {{totalUnits}}</div>
        <div *ngIf="selectedOption && selectedOption ==2">Total units in stock for Condiments: {{totalUnits}}</div>
        <div *ngIf="selectedOption && selectedOption ==3">Total units in stock for Confections: {{totalUnits}}</div>
        <div *ngIf="selectedOption && selectedOption ==4">Total units in stock for Dairy Products: {{totalUnits}}</div>
        <div *ngIf="selectedOption && selectedOption ==5">Total units in stock for Grains/Cereals: {{totalUnits}}</div>
        <div *ngIf="selectedOption && selectedOption ==6">Total units in stock for Meat/Poultry: {{totalUnits}}</div>
        <div *ngIf="selectedOption && selectedOption ==7">Total units in stock for Produce: {{totalUnits}}</div>
        <div *ngIf="selectedOption && selectedOption ==8">Total units in stock for Seafood: {{totalUnits}}</div>
      </div>
    </table>
  </div>
</div>
